body {
    padding: 0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}

/* Menu */

header {
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;;
}

.nav-menu {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 760px;
}

.nav-menu img {
    width: 140px;
}

.nav-menu {
    
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu ul li {
    font-size: 20px;
    font-weight: 900px;
}

.nav-menu ul li a {
    color: black;
    font-size: 20px;
    font-weight: 900px;
    text-decoration: none;
}


.nav-menu ul li a:hover{
    color: #ff9400;
    font-size: 20px;
    font-weight: 900px;
    transition: .3s;
}

/* Main content */

.main-container {
    padding-top: 150px;
    padding-left: 60px;
}

.main-content img {
    width: 412;
}

.main-content {
    display: grid;
    grid-template-columns: 500px 1fr;
}

.main-form {
   padding-top: 50px; 
}
